{% extends "base.html" %}

{% block titulo %}{{ personaje.name }}{% endblock %}

{% block contenido %}
  <div class="detalle-personaje">
    <!-- <h2>{{ personaje.name }}</h2> -->
    <!-- <img src="{{ personaje.thumbnail.path }}/standard_fantastic.{{ personaje.thumbnail.extension }}" alt="{{ personaje.name }}"> -->
    <img src="{{ imagen_personaje }}" alt="{{ personaje.name }}">

    <h3>Descripción</h3>
    <p>{{ personaje.description }}</p>

    <h3>Comics</h3>
    <ul>
      {% for comic in comics %}
        <li>{{ comic }}</li>
      {% endfor %}
    </ul>
    
    <h3>Series</h3>
    <ul>
      {% for serie in series %}
        <li>{{ serie }}</li>
      {% endfor %}
    </ul>
    
    <h3>Historias</h3>
    <ul>
      {% for historia in historias %}
        <li>{{ historia }}</li>
      {% endfor %}
    </ul>
    
    <h3>Eventos</h3>
    <ul>
      {% for evento in eventos %}
        <li>{{ evento }}</li>
      {% endfor %}
    </ul>
    

    <h3>Enlaces</h3>
    <ul>
      {% for url in personaje.urls %}
        <li><a href="{{ url.url }}">{{ url.type }}</a></li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}

