{%extends "base.html" %}

{%block tittle%}Lista Juegos{%endblock%}
{%block titulo%}Lista Juegos{%endblock%}
{%block contenido%}


<table class="tabla">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Detalle</th>
        </tr>
    </thead>
    <tbody>
        {% if juegos %}
          {% for juego in juegos %}
            <tr>
                <td>{{ juego.id }}</td>
                <td>{{ juego.name }}</td>
                <td><a href="\juego\{{ juego.id }}">Detalle</a></td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td colspan="4">No se encontraron juegos</td>
          </tr>
        {% endif %}
    </tbody>
  </table>
      

</body>



{%endblock%}


