{% extends "base.html" %}

{% block title %}Juegos{% endblock %}
{% block titulo %}Juegos{% endblock %}
{% block contenido %}
<form method="post" action="{{ url_for('personajesV2') }}">
  <input type="text" name="search_query" placeholder="Buscar juego..." value="{{ search_query }}" onchange="this.form.submit()">
  <button type="submit">Buscar</button>
</form>


<br>

<table class="tabla">
  <thead>
      <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Detalle</th>
      </tr>
  </thead>
  <tbody>
      {% if personajes %}
        {% for personaje in personajes %}
          <tr>
              <td>{{ personaje.id }}</td>
              <td>{{ personaje.name }}</td>
              <td><a href="{{ url_for('detalle', personaje_id=personaje.id) }}">Detalle</a></td>
            </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td colspan="3">No se encontraron juegos</td>
        </tr>
      {% endif %}
  </tbody>
</table>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

{%endblock%}


